<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="月饼派送程序">
    <meta name="author" content="赵思佳">
    <link rel="icon" href="favicon.png">

    <title>月饼派送</title>
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/cover.css" rel="stylesheet">
  </head>
  <body>
   <main role="main" class="inner cover">
	服务9月17日正式开通！今日暂时无法访问！如果您有紧急需求，请拨打01082750720
	</main>
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>